.page {
  background: white;
  padding: 3rem;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.input {
  display: block;
  padding: 1rem;
  height: 40px;
  border-radius: 8px;
  width: 300px;
}

.cta {
  display: block;
  background-color: rgb(239, 164, 43) !important;
  height: 60px;
  margin-top: 1rem;
  border-radius: 8px;
  width: 300px;
}